.loginscreen section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
.loginbanner {
	-ms-grid-column: 1;
    -ms-grid-row: 10;
    -ms-grid-column-span: 40;
    -ms-grid-row-span: 40;
	display: -ms-grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: (1fr)[10];
    -ms-grid-rows: (1fr)[10];
	font-size:180px
}
#ui_Banner {
	width: 782.73px;
	-ms-grid-row: 1;
	-ms-grid-row-span: 18;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	}
.facebookIcon {
-ms-grid-column: 25;
-ms-grid-row: 34;
-ms-grid-column-span: 10;
-ms-grid-row-span: 3;
}
#doorbellgrid {

	-ms-grid-column: 33;
	-ms-grid-row: 5;
	-ms-grid-column-span: 18;
	-ms-grid-row-span: 40;
	z-index:-1
	}
#doorbellicon
{
	
}
#ui_FacebookIcon
	{
		border-width:0;
		background-image:url('/images/connectfacebook.png');
		background-repeat:no-repeat;
		background-size:contain;
		top:4.24px;
		right:-13px;
		height: 40.56px;
		width: 227.44px;
	}